/* @var colors */
$white: #fff;
$black: #000;
$lightBlack: #121519;
$blueGrey: #acc1c7;
$greenBlue: #38aaab;
$charcoalGrey: #364448;

/* @var fonts */
$LatoBold: 'LatoBold';
$LatoRegular: 'LatoRegular';
