#page {
  height: auto;
}

.b-layout-wrapper {
  position: relative;
  max-width: 1087px;
  height: 100%;
}

.b-layout-wrapper_distance {
  margin: 0 auto;
  padding: 33px 0;
}

.b-layout {
  min-height: 100%;
  box-shadow: 0 5px 40px 0 rgba(0, 0, 0, 0.2);
}

.b-main {
  position: relative;
}

.b-main_distance {
  padding: 0 110px;
}